{% extends "base.html" %}

{% block content %}
<h1>
    Log In
</h1>
<p>If you don't have an account, you may <a href="/register">register</a> here</p>

<form action="/login" method="post">
    <label>Username</label><input type="text" name="username" value="{{ username }}"/><span class="error">{{ username_err }}</span><br/>
    <label>Password</label><input type="password" name="password"/><span class="error">{{ password_err }}</span><br/>

    <input type="submit" value="Login"/>
</form>

{% endblock %}
