{% extends "base.html" %}

{% block content %}
<h1>
    <a href="/register">Register to Add a Post</a>
</h1>

<form action="/register" method="post">
    <label>Email</label><input type="text" name="email" value="{{ email }}"/><span class="error">{{ email_err }}</span><br/>
    <label>Password</label><input type="password" name="password"/><span class="error">{{ password_err }}</span><br/>
    <label>Verify Password</label><input type="password" name="vpassword"/><span class="error">{{ vpassword_err }}</span><br/>
    <input type="submit" value="Register"/>
</form>

{% endblock %}
